#casual {
  background-color: darkgreen;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr 2fr;
}

#presentoir {
  background-color: green;
  position: relative;
  margin: auto;
}
#presentoir_s01 {
  justify-content: center;
}

#sabot_s01 {
  justify-content: center;
  align-items: stretch;
}

#sabot {
  background-color: green;
  position: relative;
}

.card {
  background-color: honeydew;
  border: 4px solid #16c341;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: darkorange;
  border-radius: 1rem;
  cursor: grab;
  user-select: none;
}
.casse {
  background-color: darkolivegreen;
  border: 4px solid honeydew;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  transition: background-color 0.3s;
  pointer-events: all;
  user-select: none;
}

/* .casse:hover {
  background-color: olive;
} */
#infos {
  margin: 0 auto;
}

.h1 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
}
.casse-canhover {
  background-color: darkred;
}

#presentoir_simple-slot {
  justify-content: space-between;
}
#sabot_simple-slot {
  justify-content: center;
}
