* {
  box-sizing: border-box;
}

svg {
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: aquamarine;
}

#app {
  display: grid;
  grid-template: 1fr;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  pointer-events: none;
}

#scene,
#editor-points,
#editor {
  grid-column: 1;
  grid-row: 1;
}

#scene {
  position: relative;
  background-color: hsl(62, 37%, 86%);
  outline: thin green solid;
}
#editor-points,
#editor {
  position: relative;
  z-index: 1;
  pointer-events: none;
  outline: thin orange solid;
}

#editor-points {
  top: 100%;
}
.edit-pattern {
  position: absolute;
  outline: 2px dashed darkblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: all;
}
.edit-pattern .box {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  pointer-events: all;
}

.box:hover {
  background-color: darkblue;
}
.box.left-top {
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}
.box.left-bottom {
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
}
.box.right-top {
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
}
.box.right-bottom {
  transform: translate(50%, 50%);
  bottom: 0;
  right: 0;
}
.box.rotation {
  position: absolute;
  transform: translateY(-50%);
  /* top: -24px;
  left: 50%; */
  right: -24px;
  top: 50%;
  border-radius: 50%;
}
.box.rotation:after {
  content: '';
  position: absolute;
  /* transform: translate(50%, 100%); */
  left: -12px;
  top: calc(50% - 1px);
  width: 12px;
  height: 2px;
  background-color: #333;
}
.selected {
  background-color: aquamarine;
}

.toto {
  text-transform: uppercase;
}

.dot {
  position: absolute;

  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  border: 2px solid darkred;
}
#co.dot {
  border-color: blue;
}
