svg {
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: aquamarine;
}

#app {
  display: grid;
  grid-template: 1fr;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
}

#scene,
#editor {
  grid-column: 1;
  grid-row: 1;
}
#scene {
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background-color: lightgreen;
  outline: thin green solid;
}
#editor {
  position: relative;
  z-index: 1;
  pointer-events: none;
  /* background-color: rgb(238, 200, 144); */
  outline: thin orange solid;
}

.edit-pattern {
  position: absolute;
  outline: 2px dashed darkblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: all;
}
.edit-pattern .box {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  pointer-events: all;
}

.box:hover {
  background-color: darkblue;
}
.box.left-top {
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}
.box.left-bottom {
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
}
.box.right-top {
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
}
.box.right-bottom {
  transform: translate(50%, 50%);
  bottom: 0;
  right: 0;
}
.box.rotation {
  position: absolute;
  transform: translateY(-50%);
  /* top: -24px;
  left: 50%; */
  right: -24px;
  top: 50%;
  border-radius: 50%;
}
.box.rotation:after {
  content: '';
  position: absolute;
  /* transform: translate(50%, 100%); */
  left: -12px;
  top: calc(50% - 1px);
  width: 12px;
  height: 2px;
  background-color: #333;
}

.elem {
  outline: thin red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 80px;
}
#b {
  position: absolute;
  left: -100px;
  top: 120px;
  width: 220px;
  height: 60px;
  /* pointer-events: none; */
}
#c {
  position: absolute;
  left: 180px;
  top: 80px;
  width: 260px;
  height: 140px;
}
#d {
  position: absolute;
  left: 50px;
  top: 150px;
  width: 260px;
  height: 100px;
}
#e {
  position: absolute;
  left: 250px;
  top: 180px;
  width: 200px;
  height: 160px;
}

.selected {
  background-color: aquamarine;
}
