$fontsize: 24px;
#app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	padding: 1rem;
	margin: 1rem;
	justify-content: stretch;
	align-items: stretch;
	outline: 2px cyan solid;
}

#main {
	flex: 1;
	min-width: 100%;
	outline: 2px red solid;
	overflow: hidden;
}

h1 {
	font-size: $fontsize;
	margin: 0;
}
.toto {
	text-transform: uppercase;
}
.tom {
	color: orange;
	font-weight: bold;
}
.tutu {
	background-color: red;
	color: wheat;
}
section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
article section {
	flex: 1;
	display: flex;
}
article {
	display: flex;
	flex: 1;
	justify-content: space-between;
	height: 8rem;
	border: blue solid 1px;
	div {
		position: relative;
		display: flex;
		// flex: 1;
		justify-content: center;
		align-items: center;
		border: 1px solid red;
	}
}

#12 {
	transition: transform;
}
